html {
  background-color: black;
  height: 100%;
}

body {
  margin: 0;
}

.background {
  fill: none;
  pointer-events: all;
}

path {
  fill: none;
  stroke: white;
  stroke-width: 0.5;
}

svg {
  hyphens: 100vh;
  width: 100vw;
  position: absolute;
  top: 0%;
  left: 0%;
  height: 100%;
  z-index: 0;
  cursor: url('cursor.png') 50 50, auto;
}

p {
  font-family: "andret_tblight";
  color: white;
}

a {
  font-family: "andret_tblight";
  text-decoration: none;
  color: white;
}

ul {
  padding-top: 3vw;
  width: 15vw;
}

li {
  font-size: 0.8em;
  font-weight: 100;
  font-family: 'andret_tblight';
  line-height: 1.5em;
  color: white;
  list-style-type: none;
}

h1 {
  font-weight: 100;
  font-family: 'andret_tblight';
  color: white !important;
  font-size: 6em;
  line-height: 1em;
  margin-block-start: 0;
  margin-block-end: 0;
}

h2 {
  font-weight: 50;
  font-family: 'andret_tblight';
  color: white !important;
  font-size: 2em;
  margin-block-start: 1em;
  margin-block-end: 0;
}

#home_logo {
  position: absolute;
  top: 8%;
  margin-left: 2em;
  z-index: 1;
}

#home_logo img {
  max-width: 3.5em;
}

#countdown {
  position: absolute;
  top: 8%;
  left: 85%;
  margin-right: 3em;
  text-align: right;
  font-size: 5em;
  line-height: 1em;
  margin-block-start: 0.1em;
  margin-block-end: 0;
}

.banner {
  overflow: hidden;
  background-color: black;
  z-index: 10;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
}

@keyframes design_list_slide {
  from {
    transform: translate(0em, 0em);
  }

  to {
    transform: translate(-1000vh, 0em);
    ;
  }
}

#text {
  white-space: nowrap;
  animation-duration: 120s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-name: design_list_slide;
}

#text p {
  margin: 0;
  font-size: 1.2em;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}


.title {
  order: 3;
  margin-left: 2em;
  padding-bottom: 6em;
}

.footer {
  background-color: black;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  border-top: 1px solid white;
}

.footer img {
  max-width: 8em;
  max-height: 5em;
  padding-bottom: 2em;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1em;
}

#empty{
  flex-grow: 1;
}

.button {
  border: 2px solid black;
  padding: 0.5em;
  margin-right: 0.5em;
  text-align: center;
}

.button a {
  color: black;
  margin-block-start: 0;
  margin-block-end: 0;
}

.home {
  flex: 1 0 auto;
}

.infographic {
  display: flex;
  margin: auto;
  height: 80%;
  width: 80%;
  background-color: grey;
  text-align: center;
  align-items: center;
}

.infographic p {
  margin: auto;
}
